                      /*  fonts  */

body {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto","Open Sans",sans-serif;
  color: #000000;
  line-height: 22px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  line-height: 36px;
}

h2,
h3 {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  line-height: 30px;
}

span {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500px;
  color: #283136;
}

.clearfix::after {
  content: "";

  display: block;
  clear: both;
}

.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}

                          /*  header  */

.main-header {
  margin-bottom: 80px;
}

.logo {
  float: left;
  width: 146px;
  margin-right: 180px;
}

.main-navigator {
  float: left;
  width: 420px;
}

.user-block {
  float: right;
  width: 100px;
}

                          /*  main  */

/*  features  */

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.features-item:last-child {
  margin-right: 0;
}

/*  seo  */

.column-left {
  float: left;
  width: 580px;
}

.column-right {
  float: right;
  width: 240px;
}

/*  partners  */

.partners-logo {
  float: left;
  width: 209px;
  margin-right: 108px;
}

.barbershop {
  margin-right: 0;
}

                          /*  footer  */

.main-footer {
  margin-top: 80px;
}

.social-btn-wrap {
  float: left;
  width: 240px;
}

.promo-text {  
  float: right;
  width: 570px;
}

.popup {
  width: 250px;
}

                          /*  catalog  */

.catalog-filter {
  float: left;
  width: 240px;
}

.catalog {
  float: right;
  width: 560px;
}

.catalog-sorter {
  margin-bottom: 20px;
}

.catalog-items {
  margin-bottom: 80px;
}

.catalog-item {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-pagination {
  width: 285px;
}









